<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Permission required for showing floating bubbles -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:label="SnipShot"
        android:icon="@mipmap/ic_launcher">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">

            <!-- Normal Flutter theme -->
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />

            <!-- Splash screen drawable -->
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background" />

            <!-- Launcher intent -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- Required intent filter for bubble tap -->
            <intent-filter>
                <action android:name="intent.bring.app.to.foreground" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Required service for managing bubble -->
        <service
            android:name="com.dsaved.bubblehead.bubble.BubbleHeadService"
            android:enabled="true"
            android:exported="false" />

        <!-- custom overlay service -->
        <service
            android:name=".DrawingOverlayService"
            android:permission="android.permission.FOREGROUND_SERVICE"
            android:enabled="true"
            android:exported="false" />


        <service android:name=".ScreenshotService"
            android:foregroundServiceType="mediaProjection"
            android:enabled="true"
            android:exported="false"/>

        <!-- Flutter plugin embedding version -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

    </application>
</manifest>
